# .env.example

# MongoDB connection string
MONGODB_URI=mongodb://<username>:<password>@host:port/database

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Robux API key
ROBUX_API_KEY=your_robu_key_here

# Server port
PORT=3000
